.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}


input{
  margin: 20px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.para{
 
  border: 2px solid red;
  width: 360px;
  height: 100px;

}









